# SQLSERVER
DATABASE_ENGINE= abc
DATABASE_NAME= abc
DATABASE_USER= abc
DATABASE_PASSWORD= abc
DATABASE_HOST= abc
DATABASE_PORT= abc

# SECRET
SECRET_KEY="@17y2z-=nv*zw^8kw(5z0dp!q@l4@83)as_xruil0l4bsyd2c8"

